$primary-color: #09d28e;
$secondary-color: #150f31;
$alternative-color:#5e5e5e;
$white-color: #fff;
$white-light:rgba(255, 255, 255, 0.8);
$white-color-input:rgba(255, 255, 255, 0.2);
$light-bg:#FFF7F1;
$cian-color:#3FA1DE;
$red-color:#FE474E;
$gray-color:#696969;

