
// GAMA COLORES
$my-primary-color: (
    50 : #e1faf1,
    100 : #b5f2dd,
    200 : #84e9c7,
    300 : #53e0b0,
    400 : #2ed99f,
    500 : #09d28e,
    600 : #08cd86,
    700 : #06c77b,
    800 : #05c171,
    900 : #02b65f,
    A100 : #dfffee,
    A200 : #acffd2,
    A400 : #79ffb6,
    A700 : #5fffa9,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$my-accent-color: (
    50 : #e3e2e6,
    100 : #b9b7c1,
    200 : #8a8798,
    300 : #5b576f,
    400 : #383350,
    500 : #150f31,
    600 : #120d2c,
    700 : #0f0b25,
    800 : #0c081f,
    900 : #060413,
    A100 : #6a54ff,
    A200 : #3e21ff,
    A400 : #1f00ed,
    A700 : #1c00d4,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$my-warn-color: (
    50 : #ffe9ea,
    100 : #ffc8ca,
    200 : #ffa3a7,
    300 : #fe7e83,
    400 : #fe6369,
    500 : #fe474e,
    600 : #fe4047,
    700 : #fe373d,
    800 : #fe2f35,
    900 : #fd2025,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffcecf,
    A700 : #ffb4b5,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



