$primary-color: #4752B4;
$secondary-color: #0176FE;
$alternative-color:#58C9EA;
$color-blue-dark:#25386F;
$color-blue-light:#9694FF;
$color-gray:#76869E; 
$color-text:#6B6F78;
$white-color: #fff;
$red-color:#FC4E4B;
$yellow-color:#F9B403;
$bg-badge-light:#E4EFFF;
$bg-principal:#F8F9FB;
$bg-blue-light:rgba(71, 82, 180, 0.1);
$color-green-light:#00DA92;
$border-input:#C6C6C6;
$text-color-input:#555555;
$box-shadow:rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$border:#D0D0D0;

