
// GAMA COLORES
$my-primary-color: (
    50 : #e9eaf6,
    100 : #c8cbe9,
    200 : #a3a9da,
    300 : #7e86cb,
    400 : #636cbf,
    500 : #4752b4,
    600 : #404bad,
    700 : #3741a4,
    800 : #2f389c,
    900 : #20288c,
    A100 : #c9ccff,
    A200 : #969cff,
    A400 : #636dff,
    A700 : #4955ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$my-accent-color: (
    50 : #e1efff,
    100 : #b3d6ff,
    200 : #80bbff,
    300 : #4d9ffe,
    400 : #278bfe,
    500 : #0176fe,
    600 : #016efe,
    700 : #0163fe,
    800 : #0159fe,
    900 : #0046fd,
    A100 : #ffffff,
    A200 : #f1f4ff,
    A400 : #becbff,
    A700 : #a4b7ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$my-warn-color: (
    50 : #ffeae9,
    100 : #fecac9,
    200 : #fea7a5,
    300 : #fd8381,
    400 : #fc6966,
    500 : #fc4e4b,
    600 : #fc4744,
    700 : #fb3d3b,
    800 : #fb3533,
    900 : #fa2523,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffcdcd,
    A700 : #ffb4b3,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



